body{
    height: 100vh;
    display: flex;
    align-items: center;
}
.contenedor{
    width: 920px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#B7D6C7, #ffe2D1);
}
.dino{
    width: 150px;
    height: 70px;
    position: absolute;
    bottom: 72px;
    left: 22px;
    z-index: 2;
    background: url(Dino_idle.webp) repeat-x 0px 0px;
    background-position: 0px;
}
